body {
  margin: 0;
  background: #05010a;
  color: #00fff7;
  font-family: 'Share Tech Mono', monospace;
}

/* HEADER */
header {
  text-align: center;
  padding: 40px;
}

h1 {
  color: #ff2bd6;
  text-shadow: 0 0 12px #ff2bd6;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  gap: 15px;
  justify-content: center;
  margin-top: 50px;
}

.card {
  padding: 20px;
  border: 1px solid #00fff7;
  cursor: pointer;
  text-align: center;
  transition: 0.2s;
}

.card:hover {
  border-color: #ff2bd6;
  color: #ff2bd6;
  transform: scale(1.05);
}

.dev {
  border-color: #ff2bd6;
}

/* PANEL */
.panel {
  margin: 40px auto;
  width: 60%;
  padding: 20px;
  border: 1px solid #a855f7;
  white-space: pre-line;
}

/* TERMINAL */
.terminal {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.block {
  border: 1px solid #a855f7;
  padding: 15px;
  margin: 15px 0;
  background: rgba(10,0,20,0.6);
}

input {
  width: 100%;
  margin-top: 10px;
  background: transparent;
  border: 1px solid #00fff7;
  color: #00fff7;
  padding: 10px;
  outline: none;
}
